html {
	background-color: #dedede;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

body {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#calculator {
	display: flex;
	flex-direction: column;

	max-width: 300px;
	width: 70vw;

	height: 75vh;

	border-radius: 10px;
	padding: 10px;

	background-color: #9a9a9a;

	text-align: center;
}

#credits {
	background-color: #797979;
	margin-top: 10px;
	border-radius: 10px;
	padding: 2px;
	color: #ffffff;
	font-family: monospace;
}

#credits > a {
	text-decoration: none;
	color: inherit;
}

#credits > a:hover {
	text-decoration: underline;
}

#credits > a:focus-visible {
	outline: none;
}

#display {
	color: #ffffff;
	border-radius: 10px;
	background-color: #797979;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

	height: 15%;

	padding: 5px;
}

#input {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 5px;
	margin: 1px;
	padding-top: 5px;
}

#input > * {
	min-width: 0;
	font-size: large;
	border-radius: 5px;
	border: none;
	padding: 0;
	margin: 0;
}

#input > *:focus-visible {
	outline: none;
}

#input > *:hover {
	background-color: #bcbcbc;
}

#input :last-child {
	grid-column: 3 / 5;
	background-color: #3a3aff;
	color: #ffffff;
}

#input :last-child:hover {
	background-color: #2a2aff;
}

#currOperand {
	font-size: x-large;
}

.delete {
	background-color: #ff5a5a;
}

.delete:hover {
	background-color: #ff4a4a !important;
}